#uio{
    background-color: blanchedalmond !important;



}
#ioyt{

    width: 200px !important;
    height: 200px !important;
}
#hhgg{
    width: 200px !important;
    height: 200px !important;

}
#wert{
    background-color: rgb(100, 91, 79) !important;
}
#okj{
    background-color: cadetblue;
}
#opop{

    background-color: rgb(156, 206, 106) !important;
}